<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Person name: <%= ID %></h1>
    <!--<h2>Query string value: <%= Qstr %></h2>-->
    <h2>Mensaje: <%= Message %> </h2>

    <% switch(Message){ <!-- Render de los datos correspondientes escritos en la url -->
        case "Hola": %>
            <% for (let i = 0; i < Times; i++) { %> <!-- Numero de veces que se repetiran los datos -->
                <p>Hola <%= ID %></p>
            <% } 
            break;
        case "Adios": %>
            <% for (let i = 0; i < Times; i++) { %>
                <p>Adios <%= ID %></p>
            <% }
            break;
        case "Bienvenido": %>
            <% for (let i = 0; i < Times; i++) { %>
                <p>Bienvenido <%= ID %></p>
            <% }
            break;
    }; %>
     
</body>
</html>